*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}
p{
    margin-bottom: 0;
}
hr{
    margin: 0;
}

.menu{
    position: fixed;
    top: 0;
    z-index: 1;
}
.whatsappbutton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: 70px;
}
.badges{
    width: 30%;
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 5px;
}
.location{
    position: absolute;
    bottom: 150px;
    color: #fff;
    font-weight: bold;
    left: 15px;
}
.name{
    font-size: 14px;
    color: #5E5D5D;
}
.phone{
    font-size: 12px;
    color: #5E5D5D;
}
.container-slide{
    display: flex;
    justify-content: center;
}
.slide{
    width: 100%;
}

.slide img{
    width: 100%;
    border-radius: 10px;
    background-position: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.div-text{

    color: gainsboro;
    left: 10%;
    top: 5%;
    background: rgba(0, 0, 0, 0.7);
    width: 35%;
    height: 300px;
    padding: 20px;
}*/
.div-text h1{
    font-weight: bold;
    font-size: 60px;
    padding-top: 10px;
    text-align: center;
}
.div-text h4{
    font-size: 40px;
}

.div-text p{
    padding-top: 10px;
    font-size: 16px;
}
.div-text button{
    width: 150px;
    font-size: 16px;
    color: #fff;
    border: solid 1px #F73480;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius:5px;
    padding: 5px;
    margin-top: 20px;
}
.div-confia{
    border-left: #F73480 5px solid;
}
.services{
    text-align: center;
    color: #5E5D5D;
    font-weight: bold;
}
.card-footer{
    background-color: #fff;
}
.card-footer img{
    width: 35px;
    border-radius: 50%;
}
.div-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.div-icons-items{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.div-icons-items i{
    color: #5E5D5D;
}
.div-value{
    color: #F73480;
    font-size: 20px;
}
.div-value p{
    color: #464444;
    font-size: 14px;
    padding: 0;
}
.card-body{
    padding: 10px;
}
.card-body h5{
    font-weight: bold;
}
.div-confia{
    margin-bottom: 25px;
}
.div-confia h1{
    font-size: 4rem;
    font-weight: bold;
}
.div-confia h2{
    font-size: 3rem;
}
.d-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.d-services img{
    width: 80px;
    padding: 10px;
}
.div-cta{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.item-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.item-cta img{
    width: 40px;
}
.item-cta p{
    text-align: justify;
}
.item-cta button{
    width: 150px;
    font-size: 16px;
    color: #fff;
    border: solid 1px #fff;
    background-color:#F73480 ;
    border-radius:5px;
    padding: 5px;
}
.card-img-top:hover{
    transform: scale(1);
}
.item-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    padding: 10px;
    width: 400px;
}
.item-footer p{
    padding: 10px;
}
.item-footer p:nth-child(1){
    font-weight: bold;
}
.img-logo{
    width: 150px ;
}
.img-redes{
    width: 40px;
    padding: 10px;
}
.container-imgs{
    background-color: #fff;
    padding: 10px;
    display: flex;
 }
 .gallery-img{
    border-radius: 5px;
    object-fit: cover;
 }
 .gallery-text{

 }
 .nav-title{
    border-left: solid 5px #F73480;
 }

 .item-contacto{
    text-align: justify;
 }
 .item-contacto button{
    width: 150px;
    font-size: 16px;
    color: #fff;
    border: solid 1px #fff;
    background-color:#F73480 ;
    border-radius:5px;
    padding: 5px;
 }
 .div-info p:nth-child(1){
    font-weight: bold;
 }

 @media (min-width: 576px){
    .slide .img-movil{
        display: none;
    }
 }
 @media (max-width: 576px){
    .slide .img-web{
        display: none;
    }
 }
 @media(max-width:992px){
    .img-redes{
        display: none;
    }
 }
